{{ define "game_grid" }}
<div class="w-full h-screen p-8 bg-white rounded shadow-md">
    <h1 class="mb-6 text-2xl font-bold text-center">Minesweeper</h1>
    <p class="text-center">Grid Size: {{.GridSize}} x {{.GridSize}}</p>
    <p class="mb-4 text-center">Number of Mines: {{.MinesAmount }}</p>

    <div id="minesweeper-grid" class="grid gap-1 mt-6 text-center">
        {{ .GameGridHtml }}
    </div>

    <div class="mt-6 text-center">
        <button
            onclick="location.reload()"
            class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-700"
        >
            Play Again
        </button>
    </div>
</div>

<script>
    console.log("Game grid component loaded.");

    document.addEventListener("htmx:afterSwap", (event) => {
        if (
            event.detail.elt.id === "minesweeper-grid" &&
            event.detail.triggerName === "reveal-complete"
        ) {
        }
    });
</script>
{{ end }}
