{{ define "charts_page" }}
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    {{ template "base_layout" . }}
    <div class="p-6 mx-auto">
        <h1 class="mb-8 text-3xl font-bold text-center">Game Statistics</h1>

        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
            <div
                id="pie-chart-container"
                class="w-full p-4 bg-white rounded-lg shadow-lg"
            >
                <div
                    id="pie-chart-loader"
                    hx-get="/api/charts/pie/wins-losses-incomplete"
                    hx-trigger="load"
                    hx-indicator="#wins-losses-incomplete-pie-chart-spinner"
                    hx-swap="outerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="wins-losses-incomplete-pie-chart-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>
                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>

            <div
                id="bar-chart-container"
                class="w-full p-4 bg-white rounded-lg shadow-lg"
            >
                <div
                    id="bar-chart-loader"
                    hx-get="/api/charts/bar/grid-size"
                    hx-trigger="load"
                    hx-indicator="#grid-size-bar-chart-spinner"
                    hx-swap="outerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="grid-size-bar-chart-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>

                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>
        </div>
    </div>
{{ end }}
