{{ define "charts_page" }}
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    {{ template "base_layout" . }}

    <!-- Info message for small screens -->
    <div
        id="small-screen-warning"
        class="absolute inset-0 z-10 flex items-center justify-center hidden"
    >
        <div class="max-w-md p-6 text-center bg-gray-100 rounded-lg shadow-lg">
            <p class="text-xl font-semibold text-gray-800">
                Sorry, charts cannot be displayed on small screens. Please use a
                larger device or resize your window.
            </p>
        </div>
    </div>

    <div class="p-6 mx-auto" id="charts-page-container">
        <h1 class="w-full mb-8 text-3xl font-bold text-center">
            Game Statistics
        </h1>

        <div class="grid grid-cols-1 gap-4 2xl:grid-cols-2">
            <div
                id="pie-chart-container"
                class="flex items-center justify-center w-full p-4 bg-white rounded-lg shadow-lg"
            >
                <div
                    id="pie-chart-loader"
                    hx-get="/api/charts/pie/wins-losses-incomplete"
                    hx-trigger="load"
                    hx-indicator="#wins-losses-incomplete-pie-chart-spinner"
                    hx-swap="innerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="wins-losses-incomplete-pie-chart-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>
                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>

            <div
                id="games-played-per-month-chart-container"
                class="p-4 bg-white rounded-lg shadow-lg "
            >
                <div class="flex items-center justify-center mt-4 mb-4">
                    <label for="month-selector" class="mr-2"
                        >Select Month:</label
                    >
                    <input
                        name="picked-date-range"
                        id="month-selector"
                        type="month"
                        min="2024-06"
                        hx-get="/api/charts/bar/games-played"
                        hx-trigger="change"
                        hx-target="#games-played-per-month-chart-loader"
                        class="p-2 border rounded"
                    />
                </div>
                <div
                    id="games-played-per-month-chart-loader"
                    hx-get="/api/charts/bar/games-played"
                    hx-trigger="load"
                    hx-indicator="#games-played-per-month-chart-loader-spinner"
                    hx-swap="innerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="games-played-per-month-chart-loader-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>

                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 mt-4 2xl:grid-cols-2">
            <div
                id="bar-chart-container"
                class="w-full p-4 bg-white rounded-lg shadow-lg"
            >
                <div
                    id="bar-chart-loader"
                    hx-get="/api/charts/bar/grid-size"
                    hx-trigger="load"
                    hx-indicator="#grid-size-bar-chart-spinner"
                    hx-swap="innerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="grid-size-bar-chart-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>

                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>

            <div
                id="mines-amount-chart-container"
                class="w-full p-4 bg-white rounded-lg shadow-lg"
            >
                <div
                    id="mines-amount-chart-loader"
                    hx-get="/api/charts/bar/mines-amount"
                    hx-trigger="load"
                    hx-indicator="#mines-amount-chart-spinner"
                    hx-swap="innerHTML"
                    class="flex items-center justify-center"
                >
                    <div id="mines-amount-chart-spinner">
                        <img
                            src="/dist/load-spinner.svg"
                            alt="Loading..."
                            class="w-10 h-10"
                            onerror="this.style.display='none';"
                        />
                    </div>
                    <p class="text-lg text-gray-600 animate-pulse">
                        Loading chart...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Check if the screen width is small and hide the charts if necessary
            function handleResize() {
                var smallScreenWarning = document.getElementById(
                    "small-screen-warning",
                );
                var chartsContainer = document.getElementById(
                    "charts-page-container",
                );
                if (window.innerWidth < 1024) {
                    smallScreenWarning.classList.remove("hidden");
                    chartsContainer.classList.add("hidden");
                } else {
                    smallScreenWarning.classList.add("hidden");
                    chartsContainer.classList.remove("hidden");
                }
            }
            handleResize();
            window.addEventListener("resize", handleResize);
        });
    </script>
{{ end }}
