{{ define "game_settings_form" }}
    <div
        hx-ext="response-targets"
        id="game-settings-form"
        class="flex flex-col items-center justify-center"
    >
        <form
            hx-post="/start-game"
            hx-target="#home-page"
            hx-target-4*="#error-section"
            hx-swap="outerHTML"
            class="p-8 rounded shadow-md w-96"
        >
            <div id="error-section" class="hidden mb-4"></div>

            <div class="mb-2 ">
                <div class="flex justify-between">
                    <label
                        for="grid-size"
                        class="block mb-2 text-lg font-semibold text-gray-700"
                        >Grid Size:</label
                    >
                    <i
                        class="scale-150 translate-y-[25%] fas fa-table-cells"
                    ></i>
                </div>
                <input
                    type="number"
                    id="grid-size-input-field"
                    name="grid-size"
                    class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter grid size (e.g., 10)"
                />
            </div>

            <div class="mb-4">
                <label
                    for="random-grid-size-checkbox"
                    class="inline-flex items-center ms-1"
                >
                    <input
                        type="checkbox"
                        id="random-grid-size-checkbox"
                        name="random-grid-size"
                        class="mr-2 scale-150"
                        onchange="toggleFieldVisibility('grid-size-input-field', this)"
                    />
                    <span class="font-semibold text-gray-700"
                        >Random Grid Size</span
                    >
                </label>
            </div>

            <hr class="my-6 border-t-2 border-gray-300" />

            <div class="mb-2">
                <div class="flex justify-between">
                    <label
                        for="grid-size"
                        class="block mb-2 text-lg font-semibold text-gray-700"
                        >Number of Mines:</label
                    >
                    <i class="scale-150 translate-y-[25%] fas fa-bomb"></i>
                </div>
                <input
                    type="number"
                    id="mines-input-field"
                    name="mines-amount"
                    class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter number of mines"
                />
            </div>
            <div class="mb-4">
                <label
                    for="random-mines-amount-checkbox"
                    class="inline-flex items-center ms-1"
                >
                    <input
                        type="checkbox"
                        id="random-mines-amount-checkbox"
                        name="random-mines"
                        class="mr-2 scale-150"
                        onchange="toggleFieldVisibility('mines-input-field', this)"
                    />
                    <span class="font-semibold text-gray-700"
                        >Random Number of Mines</span
                    >
                </label>
            </div>
            <div class="mt-6 text-center">
                <button
                    type="submit"
                    class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700"
                >
                    <i class="fas fa-play me-1"></i>
                    Start Game
                </button>
            </div>
        </form>
    </div>

    <script>
        /**
         * Toggles the visibility of the input field with the given id based on the value of the given checkbox.
         * If the checkbox is checked, the input field is hidden; otherwise, it is shown.
         * @param {string} fieldId - The html id of the field to toggle.
         * @param {HTMLInputElement} checkbox - The checkbox element that toggles the input field.
         */
        function toggleFieldVisibility(fieldId, checkbox) {
            const field = document.getElementById(fieldId);

            if (checkbox.checked) {
                field.style.display = "none";
            } else {
                field.style.display = "block";
            }
        }

        document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
            const xhr = evt.detail.xhr;

            if (xhr.getResponseHeader("HX-Trigger") === "gameStarted") {
                const sessionGamesInfo =
                    document.getElementById("session-games-info");
                if (sessionGamesInfo) {
                    sessionGamesInfo.remove();
                }
            }
        });
    </script>
{{ end }}
