{{ define "game_settings_form" }}
    <div
        hx-ext="response-targets"
        id="game-settings-form"
        class="flex flex-col items-center justify-center"
    >
        <form
            hx-post="/start-game"
            hx-target="#home-page"
            hx-target-4*="#error-section"
            hx-swap="outerHTML"
            class="w-full max-w-sm p-4 rounded-lg shadow-md"
        >
            <div id="error-section" class="hidden mb-4"></div>

            <!-- Grid Size Selection -->
            <div class="mb-4 ">
                <div class="flex items-center justify-between mb-2">
                    <label for="grid-size" class="font-semibold text-gray-700"
                        >Grid Size:</label
                    >
                    <i
                        class="scale-150 translate-y-[25%] text-gray-500 fas fa-table-cells"
                    ></i>
                </div>
                <input
                    type="number"
                    id="grid-size-input-field"
                    name="grid-size"
                    class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter grid size (e.g., 10)"
                    min="2"
                    max="22"
                    onchange="adjustMinesInputFieldRange(this)"
                />
            </div>

            <!-- Random Grid Size Checkbox -->
            <div class="flex items-center justify-between mb-4">
                <label
                    for="random-grid-size-checkbox"
                    class="text-sm font-semibold text-gray-700"
                >
                    <input
                        type="checkbox"
                        id="random-grid-size-checkbox"
                        name="random-grid-size"
                        class="mr-2 scale-150"
                        onchange="toggleFieldVisibility('grid-size-input-field', this)"
                    />
                    Random Grid Size
                </label>
                <i class="text-gray-500 fas fa-random"></i>
            </div>

            <hr class="my-4 border-t-2 border-gray-200" />

            <!-- Number of Mines Selection -->
            <div class="mb-4">
                <div class="flex items-center justify-between mb-2">
                    <label
                        for="mines-amount"
                        class="font-semibold text-gray-700 "
                        >Number of Mines:</label
                    >
                    <i
                        class="scale-150 translate-y-[25%] text-gray-500 fas fa-bomb"
                    ></i>
                </div>
                <input
                    type="number"
                    id="mines-input-field"
                    name="mines-amount"
                    class="w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter number of mines"
                    min="1"
                    max="1000"
                />
            </div>

            <!-- Random Mines Checkbox -->
            <div class="flex items-center justify-between mb-4">
                <label
                    for="random-mines-checkbox"
                    class="text-sm font-semibold text-gray-700"
                >
                    <input
                        type="checkbox"
                        id="random-mines-checkbox"
                        name="random-mines"
                        class="mr-2 scale-150"
                        onchange="toggleFieldVisibility('mines-input-field', this)"
                    />
                    Random Number of Mines
                </label>
                <i class="text-gray-500 fas fa-dice"></i>
            </div>

            <!-- Submit Button -->
            <div class="mt-4 text-center">
                <button
                    type="submit"
                    class="w-full px-6 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                >
                    <i class="me-1 fas fa-play"></i>
                    Start Game
                </button>
            </div>
        </form>
    </div>

    <script src="/dist/gameSettingsForm.js"></script>
{{ end }}
