{{ define "game_layout" }}
<style>
    #game-grid {
        --grid-size: {{ .GridSize }};
        display: grid;
        grid-template-columns: repeat(var(--grid-size), 1fr);
    }
</style>
    <div id="session-games-info-popover" popover></div>

    <div class="p-4">
        <p class="text-center">Grid Size: {{ .GridSize }} x {{ .GridSize }}</p>
        <p class="mb-4 text-center">Number of Mines: {{ .MinesAmount }}</p>

        <div
            class="flex flex-col justify-center mx-auto mt-4 space-y-4 text-center sm:space-y-0 sm:space-x-4 sm:flex-row"
        >
            <!-- Play Again Button -->
            <button
                onclick="window.location.href = window.location.origin"
                class="inline-block w-full px-4 py-2 text-sm text-white bg-green-500 rounded shadow sm:w-auto sm:text-base hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
            >
                <i class="text-indigo-600 fas me-1 fa-rotate-right"></i>
                Play Again
            </button>

            <!-- Show Games Button -->
            <button
                class="inline-block w-full px-4 py-2 text-sm text-white bg-gray-500 rounded shadow sm:w-auto sm:text-base hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400"
                popovertarget="session-games-info-popover"
                id="show-session-info-btn"
                hx-get="/session-games-info"
                hx-target="#session-games-info-popover"
                hx-swap="innerHTML"
            >
                <i class="text-indigo-600 fas me-1 fa-gamepad"></i>
                Show Games
            </button>
        </div>

        <div
            id="minesweeper-grid"
            class="mt-6 sm:max-w-[600px] md:max-w-[900px] mx-auto"
        >
            {{ .GameGridHtml }}
        </div>

        <!-- responsible for popup action on game grid => flagging / revealing cells -->
        {{ template "game_action_btn" }}
    </div>

    <script>
        console.log("Game grid component loaded.");
        document.addEventListener(
            "DOMContentLoaded",
            initializeEventsForGameGrid(),
        );

        document.addEventListener("htmx:afterSwap", (event) => {
            if (event.detail.target.id === "game-grid") {
                console.log("Game grid swapped via HTMX");
                initializeEventsForGameGrid();
            }
        });

        function initializeEventsForGameGrid() {
            const gameGrid = document.getElementById("game-grid");

            if (!gameGrid) return;

            gameGrid.addEventListener("click", (e) => {
                let clickedCell = e.target.closest(".mine-field");
                if (!clickedCell) return;

                showActionPopup(gameGrid, clickedCell);
            });

            // Close the popup when clicking outside the grid or when an action is taken
            document.addEventListener("click", (e) => {
                if (!e.target.closest(".mine-field")) {
                    hideActionPopup();
                }
            });
        }
    </script>
{{ end }}
